<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <trace autoflush="true" indentsize="4">
    <listeners>
      <add name="commands" type="System.Diagnostics.TextWriterTraceListener" initializeData="logs/commands.log" />
      <remove name="Default" />
    </listeners>
  </trace>
</configuration>